@{
    ViewBag.Title = "About";
}
<header>
	<link href="~/Content/HomePage.css" rel="stylesheet" />
</header>
<h1 id="jiraTitle">Jira Ticket Data</h1>
<span id="outputBox">

</span>
<button id="apiRequestButton">Request</button>
